.App {
  text-align: center
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: inline-flex;
  border-style: solid;
  padding: 3px;
}

.project-body {
  width: 80%;
  margin-left: 10%;
}

.icon {
  width: 100px;
  height: 100px;
  padding: 10px
}

input::placeholder {
  color: lightgray !important
}

p {
  font-size: 14px
}
