.App {
  text-align: center
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: inline-flex;
  border-style: solid;
}

.icon {
  width: 40px;
  height: 40px
}

input::placeholder {
  color: lightgray !important
}

p {
  font-size: 14px
}
